.btn {
  display: flex;
  justify-content: center;
}

button {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  padding: 10px 30px;
  text-align: center;
  border: 2px solid black;
  margin-bottom: 50px;

  &:hover {
    background: black;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.5s;
  }
}
