.navright {
  i {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    &:hover {
      background: rgba(245, 245, 245, 0.505);
      color: black;
      cursor: pointer;
    }
  }
}

.contact {
  .logo1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 25px;

    i {
      border: 1px solid rgba(0, 0, 0, 0.119);
      font-size: 1.1rem;
      padding: 10px 10px;
      border-radius: 50px;

      &:hover {
        background: rgba(245, 245, 245, 0.505);
        color: black;
        cursor: pointer;
      }
    }
  }
}
