@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Merriweather:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background: url(/images/bg.jpg) fixed center/cover;
}

.btn {
  display: flex;
  justify-content: center;
}

.main button {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  padding: 10px 30px;
  text-align: center;
  border: 2px solid black;
  margin-bottom: 50px;
}
.main button:hover {
  background: black;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.5s;
}

footer button {
  color: rgb(80, 79, 79);
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  padding: 10px 30px;
  text-align: center;
  border: 2px solid rgb(80, 79, 79);
  margin: 0 10%;
}
footer button:hover {
  background: rgb(80, 79, 79);
  color: whitesmoke;
  cursor: pointer;
  transition: 0.5s;
}

#img-1 {
  width: 80%;
  margin: 50px 10%;
  height: 80%;
}

#img-2 {
  width: 90%;
  margin: 30px 5%;
  height: 40%;
}

#img-3 {
  width: 90%;
  margin: 30px 5%;
  height: 40%;
}

label {
  font-family: "Inter", sans-serif;
  color: rgb(80, 79, 79);
}

p,
address {
  font-family: "Merriweather", serif;
  color: rgb(80, 79, 79);
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px 10%;
}
form textarea {
  border: 1px solid rgba(0, 0, 0, 0.297);
  border-radius: 5px;
  resize: none;
}
form label {
  padding: 10px;
}
form input {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.297);
  border-radius: 5px;
}

.navright i {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
}
.navright i:hover {
  background: rgba(245, 245, 245, 0.505);
  color: black;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .navright i {
    position: absolute;
  }
}

.contact .logo1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-left: 25px;
}
.contact .logo1 i {
  border: 1px solid rgba(0, 0, 0, 0.119);
  font-size: 1.1rem;
  padding: 10px 10px;
  border-radius: 50px;
}
.contact .logo1 i:hover {
  background: rgba(245, 245, 245, 0.505);
  color: black;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20%;
  position: relative;
  min-height: 93.5vh;
}
.header h1 {
  font-family: "Inter", sans-serif;
  width: 550px;
  color: whitesmoke;
  font-size: 3.5rem;
  letter-spacing: 4px;
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(40px);
  animation: headeranim 1.5s forwards;
}
@media screen and (max-width: 700px) {
  .header h1 {
    font-size: 2rem;
  }
}
@keyframes headeranim {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.header p {
  font-family: "Merriweather", serif;
  color: whitesmoke;
  margin-bottom: 50px;
}
.header i {
  border: 1px solid whitesmoke;
  padding: 15px 20px;
  margin-bottom: 100px;
  border-radius: 100px;
  color: whitesmoke;
}

.nav {
  margin: 0 15%;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.196);
  height: 60px;
}
.nav .navleft {
  width: 70%;
}
.nav .navleft ul {
  width: 80%;
  height: 60px;
  display: flex;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}
.nav .navleft li {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .nav .navleft li {
    font-size: 0.7rem;
  }
}
.nav .navleft li:hover {
  background: rgba(245, 245, 245, 0.505);
  color: black;
  cursor: pointer;
}
.nav .navright {
  width: 30%;
  display: flex;
}
@media screen and (max-width: 700px) {
  .nav .navright {
    display: none;
  }
}

.main {
  margin: 0 15%;
  background: whitesmoke;
  margin-bottom: 25px;
}
.main .maintop h1 {
  font-family: "Inter", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  margin: 0 25%;
  padding-bottom: 40px;
}
@media screen and (max-width: 700px) {
  .main .maintop h1 {
    font-size: 1rem;
  }
}
.main .maintop p {
  font-family: "Merriweather", serif;
  margin: 0 25%;
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 30px;
}
.main .maintop .date {
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.338);
}
.main .maintop .date::before {
  content: "";
  border: 1px solid rgba(0, 0, 0, 0.119);
  width: 35%;
  height: 0;
  margin: 0 30px;
}
.main .maintop .date::after {
  content: "";
  border: 1px solid rgba(0, 0, 0, 0.119);
  width: 35%;
  height: 0;
  margin: 0 30px;
}
.main .mainbottom {
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.119);
  min-height: 800px;
}
@media screen and (max-width: 700px) {
  .main .mainbottom {
    display: block;
  }
}
.main .mainbottom .date {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.338);
}
.main .mainbottom h2 {
  font-family: "Inter", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0 20%;
}
@media screen and (max-width: 700px) {
  .main .mainbottom h2 {
    font-size: 1rem;
  }
}
.main .mainbottom p {
  font-family: "Merriweather", serif;
  margin: 0 5%;
  font-style: italic;
  font-size: 0.7rem;
  line-height: 30px;
  padding-bottom: 30px;
}
.main .mainbottom .mbl {
  padding: 0 10%;
  border-right: 1px solid rgba(0, 0, 0, 0.119);
}
.main .mainbottom .mbr {
  margin: 0 10%;
}

footer {
  height: 500px;
  margin: 0 15%;
  margin-bottom: 10px;
  background: rgb(224, 224, 224);
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 900px) {
  footer {
    grid-template-columns: 1fr;
    min-height: 1200px;
  }
}
footer .contact {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.119);
}
footer .contact #address,
footer .contact #phone,
footer .contact #email,
footer .contact #social {
  display: flex;
  align-items: center;
  padding: 40px 20% 50px 10%;
}
footer .contact p {
  padding-left: 60px;
}
footer .contact address {
  padding-left: 40px;
}
footer .contact .boxborder {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.119);
}
@media screen and (max-width: 900px) {
  footer .contact .boxborder #address {
    border-top: 1px solid rgba(0, 0, 0, 0.119);
  }
}/*# sourceMappingURL=style.css.map */